
html {
    scroll-behavior: smooth;
}

body {
    background-color: #e2e2e2;
    margin: 0;
    font-family: "Inter-Medium",system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#banner {
    width: 100%;
    opacity: 85%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    
}

header {
    font-family: opensanstitle,helvetica,arial,sans-serif;
    font-style: strong;
    background-color: #aa4880;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 20px;
}

nav li {
    list-style: none;
    margin: 25px;
    display: inline;
}

nav a {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.titulo {
    padding-top: 5px;
    padding-left: 15px;
}

.texto {
    font-size: 14px;
    padding-left: 18px;
}

.tabela-series{
    padding-left: 15px;
    width: 85%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
    font-family: "Inter-Medium",system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    border-spacing: 25px; 
}

table td { 
    width:15%;
    padding-bottom: 30px;
    padding-top: 5px;
    border: 3px solid #000;
    border-radius: 12px;
}

table tr img{
    width: 75%;
    padding-top: 15px;
    
}

.divErro{
    padding-left: 1px;
    border: 2px solid rgb(136, 41, 17);
    padding: 10px;
    width: 500px;
    margin-top: 15px;
    margin-left: 12px;
    font-size: 13px;


}

.info-series{
    padding-left: 18px;
}

.busca-series{
    margin-left:18px;
    border: 2px solid #808080;
    border-radius: 25px;
    padding: 2px;
    padding-left: 10px;
    font-size: 13px;
    color: #000080;
    font-family: inherit;
    width:190px;
}

.busca-series:focus{
    outline: 0;
    background-color: #92F6E8;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.series{
    width: 60%;
    margin:8px;
    padding-top: 20px;
    border-radius: 2px;
    box-shadow: 0.2px 4px 5px rgba(0 0 0 0.1);
    position: relative;
    overflow: hidden;
}

.series img{
    width: 100%;
    border-radius: 25px;
}

.info-series{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px 15px;
    letter-spacing: 1px;
}

.info-series h4{
    margin-top: 0;
}

.info-series span{
    background-color: #9BDDDD;
    padding: 5px 9px;
    border-radius: 5px;
    font-weight: bold;
}

.info-series span.nota{
    color: hsl(192, 87%, 18%);
}

.sinopse{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: rgb(80, 139, 194);
    padding: 15px;
    max-height: 100%;
    border-radius: 5px;
    transform: translateY(101%);
    transition: transform 0.3 ease-in;
}

.series:hover .sinopse{
    transform: translateY(0);
}
